form
  label(for="start") Start
  input(type="text" id="start" name="start")
  br
  label(for="end") End
  input(type="text" id="end" name="end")
  br
  label(for="content") Search
  input(type="text" id="content" name="content")
  br
  button(type="submit" formaction='/entries') Entries
  button(type="submit" formaction='/dates') Dates
  button(type="submit" formaction='/impressions') Impressions
  button(type="submit" formaction='/tags') Tags
