/* A pretty opinionated view on what's a "good" view. Maybe I'll switch to SCSS one day when this gets too complex. */

body {
    font-family: georgia;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background: #EEE;
    color: #444;
    line-height: 150%;
    text-align: justify;
}

h1, h2, h3 {
	line-height: 1.5;
    text-align: center;
    font-family: helvetica;
}

ul li {
	padding: 5px 0px;
}

ol li {
	padding: 5px 0px;
}

img {
    width:100%;
}

code {
/*    white-space: pre;*/
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

a:visited {
    color:blue;
}

button, input {
    margin: 5px;
}

textarea {
    width: 100%;
}
